header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../../pictures/backgroun.svg");
  background-repeat: no-repeat;
  background-position: right;
  overflow: hidden;
  .header__green {
    background-color: #1cb1a01d;
    box-shadow: 0px 0px 200px 200px #1cb1a01d;
    border-radius: 50%;
    width: 317px;
    height: 417px;
    position: absolute;
    top: 235px;
    left: -79px;
  }
  .header__white {
    background-color: #ffffff2f;
    box-shadow: 0px 0px 100px 100px #ffffff2f;
    position: absolute;
    width: 187px;
    height: 187px;
    top: 129px;
    right: -250px;
    opacity: 0.4000000059604645px;
    border-radius: 50%;
  }
  @media (min-width: 0px) and (max-width: 768px) {
    background-position: right;
  }
}
@import "./nav";
@import "./headerTexts";
